@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.inner {
  text-align: center;
  margin:0 auto;
  width: 1100px;
}

body {
  padding-top: 80px;
  font-family: "Lato";
  font-weight: 100;
  font-size: 12px;
  color: #333;
}

.header {
  width: 100%;
  padding: 15px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
}


.fa-bolt {
  float:left;
  font-size: 50px;
  color: #777;
  margin-left: 20px;
}

.header-btn {
  float: right;
}

.header-btn a {
  padding: 14px 12px;
  background-color: #74cfae;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 800;
  font-size: 12px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.header-sp-btn {
  display: none;
  float: right;
  margin-top: 8px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.icon-bar {
  width: 22px;
  height: 2px;
  border-radius: 1px;
  display: block;
  background-color: #ddd;
}

.icon-bar:nth-child(n+2) {
  margin-top: 4px;
}

.header-btn a:hover {
  transition: 0.3s;
  color: #333;
}

.title {
  width: 100%;
  padding: 250px 0;
  background-color: #f2f2f2;
}

.main-title-text {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: "Raleway";
}

.br-sp {
  display: none;
}

.main-title-sub {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.section-content {
  width: 100%;
  background-color: #74cfae;
}

.section-content_inner {
  padding-top: 50px;
}
.section-content__image-box {
  float:left;
  font-size: 0;
  width:40%;
}

.section-content__text-box {
  float:left;
  margin-top: 20px;
  width:60%;
}

.section-content-title {
  color: white;
  font-size: 24px;
  font-family: "Raleway";
}

.section-content-text {
  font-size: 20px;
  line-height: 25px;
  margin-top: 35px;
  color: white;
}

.article-content {
  width: 100%;
  padding: 60px 0 70px;
  background-color: #f2f2f2;
}

.article-content__image-lists {
  margin: 40px 0 0;
}

.article-content__image-lists li {
  float: left;
  font-size: 0;
  margin: 80px 0 0 100px;
}

.article-content__image-lists li {
  transition: 0.3s;
  opacity: 0.7;
}

.article-content__image-lists li:hover {
  transition: 0.3s;
  opacity: 1;
}

.article-content__image-lists li:nth-child(3n+1) {
  margin-left: 0px;
}

.article-content__image-lists li:nth-child(-n+3) {
  margin-top: 0px;
}

.article-content-title {
  font-family: "Raleway";
  font-size: 24px;
}

.article-content__box {
  margin-top: 90px;
}

.article-content-text {
  margin-left: 100px;
  width: 60%;
  float: left;
}

.article-content-text p {
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 25px;
}

.article-btn {
  float: left;
  margin-left: 90px;
}

.article-btn a {
  padding: 14px 20px;
  background-color: #74cfae;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  font-size: 12px;
  text-decoration: none;
  transition: 0.3s;
}

.article-btn a:hover {
  transition: 0.3s;
  color: #333;
}

.section-skills {
  width: 100%;
  padding: 70px 0 100px;
  background-color: #4e4e4e;
}

.section-skills-title {
  font-size: 25px;
  color: white;
  font-family: "Raleway";
}

.section-skills__logo {
  margin-top: 50px;
}

.section-skills__logo li {
  margin-left: 180px;
  display: inline-block;
}

.section-skills__logo li:first-child {
  margin-left: 0;
}

.section-skills__logo p {
  font-size: 16px;
  margin-top: 20px;
  color: white;
}

.nav-content {
  width: 100%;
  padding: 200px 0;
  background-color: #f2f2f2;
}

.nav-content-box {
  text-align: center;
}

.nav-content li {
  display: inline-block;
}

.nav-content a {
  width: 185px;
  padding: 30px;
  font-size: 50px;
  color: #74cfae;
  box-sizing: border-box;
  transition: 0.3s;
}

.nav-content a:hover {
  transition: 0.3s;
  background-color: white;
}

.footer {
  width: 100%;
  padding: 20px 0 25px;
  background-color: #74cfae;
}

.footer-text {
  text-align: right;
  color: white;
}

@media (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .section-content_inner {
    padding-bottom: 25px;
  }

  .section-content__image-box {
    float: none;
    width: initial;
  }

  .section-content__text-box {
    float: none;
    width: initial;
  }

  .article-content__image-lists li {
    float: none;
    margin: initial;
  }

  .article-content__image-lists li:nth-child(4) {
    margin-top: 80px;
  }

  .article-content__box {
    margin-top: 80px;
  }

  .article-content-text {
    width: initial;
    margin: initial;
    float: none;
  }

  .article-btn {
    float: none;
    margin-left: initial;
    margin-top: 40px;
  }

  .section-skills__logo li {
    margin: initial;
    display: block;
  }

  .section-skills__logo li:nth-child(n+2) {
    margin-top: 88px;
  }
}

@media (max-width: 767px) {
  .inner {
    width: 97%;
  }

  .header-btn {
    display: none;
  }

  .header-sp-btn {
    display: inherit;
  }

  .title {
    padding: 160px 0 130px;
  }

  .main-title-text {
    font-size: 80px;
  }

  .br-sp {
    display: initial;
  }

  .main-title-sub {
    font-size: 30px;
    margin-top: 20px;
  }

  .nav-content {
    padding: 50px 0;
  }

  .nav-content li {
    display: block;
  }

}